.box {
    height: 50px;
    width: 50px;
    background-color: grey;
    position: absolute;
    top: 30px;
    right: 80px;
    animation-name: scrollDown;
    animation-duration: 3s;

}

@keyframes scrollDown {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
